<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                    <p class="text-white mb-0">
                        ASP.NET CORE 7.0 API Tabanlı Online Hotel Rezervasyon Uygulaması. Geliştirici: Fırat Kazak
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Efeler, Aydın, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 555 555 55 55</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>firatkazak@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://twitter.com/firatkazak"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/firatkazak/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/channel/UCihZUQ500tC6yyaap_RKGOA"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/firatkazak/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/firatkazak/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Şirketimiz</h6>
                        <a class="btn btn-link" href="">Hakkımızda</a>
                        <a class="btn btn-link" href="">Bize Ulaşın</a>
                        <a class="btn btn-link" href="">Gizlilik Politikası</a>
                        <a class="btn btn-link" href="">Şartlar ve Koşullar</a>
                        <a class="btn btn-link" href="">Destek</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetlerimiz</h6>
                        <a class="btn btn-link" href="">Yemek & Restoran</a>
                        <a class="btn btn-link" href="">Spa & Fitness</a>
                        <a class="btn btn-link" href="">Spor & Oyun</a>
                        <a class="btn btn-link" href="">Aktivite & Parti</a>
                        <a class="btn btn-link" href="">Yoga & Meditasyon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Bu sitenin</a>, Tüm hakları saklıdır.
                    &copy;StormHorse @DateTime.Now.Year <a class="border-bottom" href="https://firatkazak.com">Tarafından yapılmıştır.</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Ana Sayfa</a>
                        <a href="">Çerezler</a>
                        <a href="">Yardım</a>
                        <a href="">Sıkça Sorulan Sorular</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
